 .projects-section {
  padding: 2rem 1rem;
  background: #f0f0f0;
  text-align: center;
  margin-top: 100px;
  width: 100;
}

.projects-section h2 {
  margin-bottom: 1.5rem;
  color: cadetblue;
   font-size: 2rem;
   margin-top: 100px;
}

.projects-grid-small {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.project-card-small {
  background: #fff;
  width: 200%;
  max-width: 250px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.project-card-small:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 5px cadetblue;
}

.card-img-small {
  width: 100%;
  height: 140px;
  object-fit: cover;
  display: block;
}

.card-info-small {
  padding: 0.75rem;
}

.card-info-small h3 {
  margin: 0 0 0.4rem;
  font-size: 1.2rem;
  color: cadetblue;
}

.card-info-small p {
  margin: 0;
  font-size: 0.85rem;
  color: #555;
  line-height: 1.3;
}

